
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wheels On Rent</title>
    <!-- Custom form styling -->
    <link href="{% static 'css/form.css'%}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="{% static 'https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' %}"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/sb-admin-2.min.css'%}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <link href="{%static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css'%}">
</head>

<body id="page-top">

    {% include 'admin/sidebar.html' %}

<div class="formbold-main-wrapper">
    <!-- Author: FormBold Team -->
    <!-- Learn More: https://formbold.com -->
    <div class="formbold-form-wrapper">
           <img src="{% static 'img/form.svg' %}">
      <form method="post">
        <div class="formbold-input-wrapp formbold-mb-3">
          <label for="firstname" class="formbold-form-label"> Name </label>
  
          <div>
            <input
              type="text"
              name="firstname"
              id="firstname"
              placeholder="First name"
              class="formbold-form-input"
            />
  
            <input
              type="text"
              name="lastname"
              id="lastname"
              placeholder="Last name"
              class="formbold-form-input"
            />
          </div>
        </div>
  
        <div class="formbold-mb-3">
          <label for="age" class="formbold-form-label"> Age </label>
          <input
            type="text"
            name="age"
            id="age"
            placeholder="ex:25"
            class="formbold-form-input"
          />
        </div>
  
        <div class="formbold-mb-3">
          <label for="dob" class="formbold-form-label"> Date of Birth </label>
          <input type="date" name="dob" id="dob" class="formbold-form-input" />
        </div>
  
        <div class="formbold-mb-3">
          <label class="formbold-form-label">Gender</label>
  
          <select class="formbold-form-input" name="occupation" id="occupation">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="others">Others</option>
          </select>
        </div>
  
        <div class="formbold-mb-3">
          <label for="email" class="formbold-form-label"> Email </label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="example@email.com"
            class="formbold-form-input"
          />
        </div>
  
        <div class="formbold-mb-3">
          <label for="address" class="formbold-form-label"> Address </label>
  
          <input
            type="text"
            name="address"
            id="address"
            placeholder="Street address"
            class="formbold-form-input formbold-mb-3"
          />
          <input
            type="text"
            name="address2"
            id="address2"
            placeholder="Street address line 2"
            class="formbold-form-input"
          />
        </div>
  
        <div class="formbold-mb-3 formbold-input-wrapp">
          <label for="phone" class="formbold-form-label"> Phone </label>
  
          <div>
            <input
              type="text"
              name="areacode"
              id="areacode"
              placeholder="Area code"
              class="formbold-form-input formbold-w-45"
            />
  
            <input
              type="text"
              name="phone"
              id="phone"
              placeholder="Phone number"
              class="formbold-form-input"
            />
          </div>
        </div>
  
        <div class="formbold-input-flex">
          <div>
            <label for="post" class="formbold-form-label"> Post/Zip code </label>
            <input
              type="text"
              name="post"
              id="post"
              placeholder="ex:8976"
              class="formbold-form-input"
            />
          </div>
          <div>
            <label for="city" class="formbold-form-label"> City </label>
            <input
              type="text"
              name="city"
              id="city"
              placeholder="ex: New York"
              class="formbold-form-input"
            />
          </div>
        </div>
  
        <div class="formbold-mb-3">
          <label for="upload" class="formbold-form-label">
            Upload Signature
          </label>
          <input
            type="file"
            name="upload"
            id="upload"
            class="formbold-form-input formbold-form-file"
          />
        </div>
  
        <div class="formbold-checkbox-wrapper">
          <label for="supportCheckbox" class="formbold-checkbox-label">
            <div class="formbold-relative">
              <input
                type="checkbox"
                id="supportCheckbox"
                class="formbold-input-checkbox"
              />
              <div class="formbold-checkbox-inner">
                <span class="formbold-opacity-0">
                  <svg
                    width="11"
                    height="8"
                    viewBox="0 0 11 8"
                    class="formbold-stroke-current"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M8.81868 0.688604L4.16688 5.4878L2.05598 3.29507C1.70417 2.92271 1.1569 2.96409 0.805082 3.29507C0.453266 3.66742 0.492357 4.24663 0.805082 4.61898L3.30689 7.18407C3.54143 7.43231 3.85416 7.55642 4.16688 7.55642C4.47961 7.55642 4.79233 7.43231 5.02688 7.18407L10.0696 2.05389C10.4214 1.68154 10.4214 1.10233 10.0696 0.729976C9.71776 0.357624 9.17049 0.357625 8.81868 0.688604Z"
                      fill="white"
                    />
                  </svg>
                </span>
              </div>
            </div>
            I agree to the defined
            <a href="#"> terms, conditions, and policies</a>
          </label>
        </div>
  
        <button class="formbold-btn">Submit</button>
      </form>
    </div>
  </div>
  


   <!-- Footer -->
   <footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
<i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
    <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="login.html">Logout</a>
    </div>
</div>
</div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/datatables-demo.js"></script>

</body>

</html>